<% @articles.each do |article| %>
  <article>
    <h1><%= link_to article, article %></h1>
    <date><%= l(article.published_at, :format => :long) %></date>
    <section><%= article.render(self) %></section>
  </article>
<% end %>
